.body {
    background-image: url("../images/Crystal.jpg");
    background-color: aquamarine;
    max-width: 100%;
    margin:0px 150px 0px 250px;
}

.container {
    margin:0px 150px 0px 285px;
    max-width: 100%;
}
section {
    background-color: #f6e8e8;
    color: green;
    width: 580px;
    height: 270px;
    padding: 20px;
    margin: 10px 5px 5px 0px;
    border: 1px solid white;
    text-align: left;
}

#randomNumber {
    background-color: rgb(66, 141, 66);
    width: 200px;
    height: 100px;
    padding: 10px;
    margin: 5px 0px 10px 0px;
    border: 1px solid white;
    text-align: left;
    font-size: 25px;
    font: sans-serif;
    color: antiquewhite;
}

#scoreBoard {
    background-color: rgb(134, 217, 224);
    width: 120px;
    height: 100px;
    padding: 10px 5px 0px 0px;
    margin: 5px 0px 5px 25px;
    border: 1px solid white;
    text-align: left;
    color: rgb(1, 1, 7);
}

#yourScore {
    background-color: #317c9e;
    width: 200px;
    height: 100px;
    padding: 10px;
    margin: 5px 0px 0px 300px;
    border: 1px solid white;
    text-align: left;
    color: rgb(13, 13, 14);
}

#h5 {
    color: #e9f3f3;
    margin: 10px 0px 0px 0px;
    height: 35px;
    width: 200px;
    padding: 5px 5px;
    background-color: #317c9e;
    font-size: 20px;
    text-align: center;
}

@media only screen and (max-width:980px) {
    body {
     margin: 0px 0px 0px 125px;
     width: 50%
    } 
}
@media only screen and (max-width:768px) {
     body {
       width: 100%;
       
    }
    
}
   
@media only screen and (max-width:640px) {
    body {
       width: 100%;
       
    }
   
}